* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #ff4d6d;
    padding: 10px 0;
    z-index: 1000;
}

.nav-bar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-bar a:hover {
    color: #ff9db5;
}

 body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    background-image: url("images/beach_main.png");
    background-size: cover;       
    background-repeat: no-repeat; 
}

.images {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-end;
}

.images img {
    width: 30%; 
    margin: 10px; 
}

